<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vent2U</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="feedback-section ion-padding">
   <div class="heading ion-padding">
            <h1>Welcome to Vent2U</h1>
            <p>Please give your feedback about the application</p>
        </div>
        <div class="feedback-form ion-padding">
            <div class="form-input">
                <ion-icon name="person-outline" size="large"></ion-icon>
                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input type="name"></ion-input>
                </ion-item>
            </div>
            <div class="form-input">
                <ion-icon name="reader-outline" size="large"></ion-icon>
                <ion-item>
                    <ion-label position="floating">Description</ion-label>
                    <ion-input type="description"></ion-input>
                </ion-item>
            </div>
        </div>
        <div class="action-button ion-padding">
            <ion-button size="large" class="feedback-button" (click)="submit()">Submit</ion-button>
            
        </div>
    
</div>

</ion-content>