ion-icon{
    position:relative;
    left:85%;
    top:2%;
    size:100px;
}

ion-card{
    position:relative;
    top:35%;
    height:10%;
}

section{
    position: relative;
    left:35%;
    top:35%;
}