ion-text{
    position:relative;
    top:2%;
    left:20%;
    font-size: x-large;
}
ion-card{
    position:relative;
    top:1%;
    height:42%;
    background-color:rgba(239, 241, 236, 1);
}
ion-icon{
    position:relative;
    top:5%;
    left:0%;
}
 ion-col div {
    position: relative;
    top:1%;
    background-color: #4dcf5f;
    text-align:justify;
    height: 10%;
}
ion-list{
    position: relative;
    height:80%;
}
h2{
    position: relative;
    top:-25%;
    left: 15%;
    font-size: large;
}
p{
    position: relative;
    top:30%;
    left: -7%;
    font-size: medium;
}
img{
    position: relative;
    height:95%;
}
