<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Vent2U</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-text class="ion-text-center">Welcome to Room1!</ion-text>
  <ion-card>
    <img src="/assets/1.jpg">
  </ion-card>
 
  <ion-card>
     <ion-col col-auto>
        <div>Status</div>
      </ion-col>
   <ion-list>
    <ion-item>
       <ion-avatar item-start>
         <img src="/assets/thermometer.png">
       </ion-avatar>
      <h2>Temperature</h2>
      <p>22</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="/assets/climate.png">
      </ion-avatar>
      <h2>Indoor Climate</h2>
      <p>Neutral</p>
    </ion-item>

   <ion-item>
       <ion-avatar item-start>
         <img src="/assets/humidity.png">
       </ion-avatar>
      <h2>Humidity</h2>
      <p>Neutral</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="/assets/air.png">
      </ion-avatar>
      <h2>Air Quality</h2>
      <p>98%</p>
    </ion-item>
   </ion-list>
 </ion-card>
</ion-content>
